src/**/bin
/bin/
**/obj
*.user
*.suo
*.tmp
.vs/
/.nuget/
/nuget.config

# Build outputs
/.bicep/
**/*.zip

# Logs
/logs/
**/*.log

# Test results
tests/*.az.json
tests/test/
tests/test-*/
tests/output/
tests/*-test/
tests/.flexor/
tests/test.bicepparam
# Clone tests
/repos/

# Temporary files
**/*.out
**/*.err
__**__.json

.fake