src/**/bin
**/obj
*.user
*.suo
*.log
*.tmp
.vs/

tests/*.az.json
tests/test/
tests/test-*/
tests/output/
tests/*-test/
tests/.flexor/
tests/test.bicepparam

__**__.json

.fake
/.bicep/
/.nuget/
/nuget.config

/repos/
*.zip